<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.pettinder.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.pettinder.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity android:exported="true"
            android:name="com.pettinder.app.modules.screentwo.ui.ScreentwoActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pettinder.app.modules.screenthree.ui.ScreenthreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.pettinder.app.modules.screenone.ui.ScreenoneActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/str_maps_api_key"/>
        <activity
            android:name="com.pettinder.app.modules.screenfour.ui.ScreenfourActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
